.big-bg {
background-image: url(/assets/04.jpg);
}

.navbar .navbar-default {
	opacity: 10;
}

.center {
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}
.footer {
	background-color: #FFFFFF;
	border-top: 1px solid #E5E5E5;
	margin-bottom: 0;
	padding-top: 2%;
}
.col-sm-6 .col-md-4 .row{
	margin-left: 2px;
	margin-right: 2px;
}