<div class="footer">
<div class="center">
	<div class="row">
  <div class="col-md-3">
<div class="panel panel-default">
  <div class="panel-body">
    <h5>Servicio al Cliente</h5><br><h6>LUNES-VIERNES</h6><br><h7>6.30am-6pm</h7><br><h6>SABADOS</h6><br><h7>7am-12pm</h7>
  </div>
</div>
  </div>
  <div class="col-md-3">
  	<div class="panel panel-default">
  <div class="panel-body">
    <h5>Servicio al Cliente</h5><br><h6>LUNES-VIERNES</h6><br><h7>6.30am-6pm</h7><br><h6>SABADOS</h6><br><h7>7am-12pm</h7>
  </div>
</div>
</div>
  <div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-body">
    <h5>Servicio al Cliente</h5><br><h6>LUNES-VIERNES</h6><br><h7>6.30am-6pm</h7><br><h6>SABADOS</h6><br><h7>7am-12pm</h7>
  </div>
</div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-body">
    <h5>Servicio al Cliente</h5><br><h6>LUNES-VIERNES</h6><br><h7>6.30am-6pm</h7><br><h6>SABADOS</h6><br><h7>7am-12pm</h7>
  </div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<div class="center">
<p> <h6>Derechos Reservados 2015 Laboratorio Clínico San Juan, San José, Costa Rica</h6></p>
<p> <h6>Desarrollo por <a href="http://www.qantamedia.com">Qanta Media</a></h6></p>
</div>
</div>